.retreat-background{
    background-color: rgba(136, 160, 142, 0.555);
  
 
}

.retreat-item-background{
    background-color: rgba(146, 173, 152, 0.76);

}

.retreat-top-background{
    background-color: rgba(164, 216, 181, 0.486);

}