.retreat-background{
    background-color: rgba(213, 202, 190);
  
 
}

.retreat-item-background{
    background-color: rgba(207, 184, 156, 0.76);

}

.retreat-top-background{
    background-color: rgba(207, 184, 156, 0.486);

}