.package-background{
    background-color: rgba(163, 174, 177, 0.678);
}

.package-item-background{
    background-color: rgba(199, 228, 241, 0.651);

}

.package-top-background{
    background-color: rgba(185, 208, 219, 0.493);

}