.treatment-background{
    background-color: rgba(123, 150, 144)
}

.treatment-item-background{
    background-color: rgba(107, 153, 144, 0.575);

}

.treatment-top-background{
    background-color: rgba(94, 151, 140, 0.521);

}