.treatment-background{
    background-color: rgba(123, 150, 144)
}

.treatment-item-background{
    background-color: rgba(90, 151, 138, 0.575);

}

.treatment-top-background{
    background-color: rgba(84, 148, 134, 0.521);

}